<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 800; font-size: 3em">
        Course
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Lessons</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
   
    <ion-item>
      <ion-label position="floating">Task Title</ion-label>
      <ion-input [(ngModel)]="newTaskTitle"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="newTaskDescription"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="addTask()">Add Task</ion-button>

    <ion-list>
      <ion-item *ngFor="let task of tasks; let i = index">
        <ion-checkbox slot="start" [(ngModel)]="task.completed" (ionChange)="markCompleted(i)"></ion-checkbox>
        <ion-label>
          <h2>{{ task.title }}</h2>
          <p>{{ task.description }}</p>
        </ion-label>
        <ion-button slot="end" color="danger" (click)="deleteTask(i)">Delete</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>

<style>
  .button-row {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }
</style>

    
    
 
  





   
  
 
 
  
 
